{% extends "layouts/base.html" %}

{% block title %}Upload CSV {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ file_type|title }} Files - OA Charts</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body> 

    <style>
        .left{
            margin-left: 350px;
        }
    </style>
<!-- 
<div  class="left">
    <h2>{{ file_type|title }} Files</h2>
    <ul>
        {% for file in files %}
            <li>
                File ID: {{ file.file_id }},
                Timestamp: {{ file.timestamp }},
                File Type: {{ file.file_type }}
            </li>
        {% endfor %}
    </ul> -->
<div class="left">
<!-- 
    {% for data in file_type_data %}
    <h3>File Type: {{ data.file_type }}</h3>
    <table>
      <thead>
        <tr>
          <th>OA</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        {% for oa in data.oa_counts %}
          <tr>
            <td>{{ oa.oa }}</td>
            <td>{{ oa.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
  
            -->


  {% for file in file_type_data %}
  <h2>File Type: {{ file.file_type }}</h2>
  <ul>
    {% for oa in file.oa_counts %}
      <li>OA: {{ file.oa }} - Count: {{ file.count }}</li>
    {% endfor %}
  </ul>
{% endfor %}



</div>
</body>
</html>

{% endblock content %}
